body{
    background: #1F1F1F;
}

.annuler{
    background: #1F1F1F;
    color: #a5a5a5;
    border: transparent;
    /* font-family: Helvetica Neue; */
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
    line-height: 1.21875rem;
}

h3{
    color: #FFF;
    text-align: center;
    /* font-family: Helvetica Neue; */
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21875rem; /* 102.632% */
}

.buttons-genres{
    display: inline-flex;
    padding: 0.625rem;
    /* align-items: center; */
    gap: 0.625rem;
    border-radius: 0.75rem;
    /* background: rgba(46, 46, 46, 1) , #2E2E2E; */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

button.all{
    display: flex;
    width: 25.75rem;
    padding: 0.625rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.75rem;
    background: linear-gradient(90deg, #F70046 0%, #FF5C8B 100%);
}

.reste{
    display: flex;
    width: 25.75rem;
    padding: 0.625rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.75rem;
    background:rgba(46, 46, 46, 1);
    color: rgba(255, 255, 255, 1);
}