body{
    background: #1F1F1F;
    font-family: Arial, Helvetica, sans-serif
}

.button-back{
    position: relative;
    top: 3rem;
    border:none;
    background: hsl(0, 0%, 12%);
}


h3{
    color: #FFF;
    text-align: center;
    /* font-family: Helvetica Neue; */
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21875rem; /* 102.632% */
}

.header_artistes{
    background: rgba(46, 46, 46, 1);
    border-radius: 1rem;
    /* width: auto;  */
    height:4rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center; 
    flex-direction: row;
    flex-wrap: wrap;
}

.artiste{
    background:#2E2E2E;
    border-radius: 0.75rem;
    margin-bottom:0.5rem;
}

.div_artiste{
    padding: 10px;
    display: flex;
    align-items: center;

}

.image{
    border-radius: 1.875rem;
    width: 3.75rem;
    height: 3.75rem;
    margin-right: 0.5rem; 
    background-size: 3.75rem;
    background-repeat: no-repeat;

}

p{
    font-family:  Arial, Helvetica, sans-serif ;
    margin-left: 15px;
    color: #FFF; 
}

.followingArtists{
    margin-bottom: 2rem;
    padding: 0 12px; 
}

/* NAVBAR */

.navbar {

    position: fixed;
    background: var(--Header, #24282C);

    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.Festival {
    margin-left: 20px;
    margin-top: 10px;
}

.notification{
    margin-top: 10px;
}
.search_navbar{
    margin-top: 10px;
}
.profil {
    margin-right: 20px;
    margin-top: 10px;
}
.font_navbar{

    color: var(--Gris-clair, #A5A5A5);
    font-family: Helvetica Neue;
    font-size: 13px;
    font-style: normal;
}