body{
    background: #1F1F1F;
}

.retour{
    background: hsl(0, 0%, 12%);
    border:none;
    color: #ffff;
    /* flex-shrink: 0; */
}

.button-back{
    position: relative;
    top: 3rem;
}


h3{
    color: #FFF;
    text-align: center;
    /* font-family: Helvetica Neue; */
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21875rem; /* 102.632% */
}

.artistes{
    background: rgba(46, 46, 46, 1);
    border-radius: 1rem;
    /* width: auto;  */
    max-width: 23.7rem; 
    padding: 0.5rem; 
    height:4rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center; 
    flex-direction: row;
    flex-wrap: wrap;
}

img{
    border-radius: 1.875rem;
    width: 3.75rem;
    height: 3.75rem;
    margin-right: 0.5rem; 
}

p{
    position: relative;
    bottom: 4rem;
    left: 6rem;
    color: #FFF; 
}
