body{
    background: #1F1F1F;    
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
}

header{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.text_block{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50%;
}

.text_block h1{
    font-size: 28px;
}

p{
    font-size: 20px;
    text-align: center;
}

/* ------------------- NAVBAR -------------------- */
.navbar {

    position: absolute;
    background: var(--Header, #24282C);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
}

.Festival {
    margin-left: 20px;
    margin-top: 10px;
}

.notification{
    margin-top: 10px;
}
.search_navbar{
    margin-top: 10px;
}
.profil {
    margin-right: 20px;
    margin-top: 10px;
}
.font_navbar{
    color: var(--Gris-clair, #A5A5A5);
    font-family: Helvetica Neue;
    font-size: 13px;
    font-style: normal;
}